<header>
  <h1>Algorithme de Path Finding sur réseau ferroviaire</h1>
</header>
<body>
<div class="container">
  <div class="plan">
    <img src="./assets/img/plan.png">
  </div>
  <div class="affichage">
    <form [formGroup]="itinaryForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label>Point de départ : </label>
        <select formControlName="depart">
          <option value="">Choisissez le point de départ</option>
          <option *ngFor="let ville of villes" [ngValue]="ville">{{ville}}</option>
        </select>
      </div>

      <div class="form-field">
        <label>Point de d'arrivé : </label>
        <select formControlName="arrive">
          <option value="">Choisissez le point d'arrivé</option>
          <option *ngFor="let ville of villes" [ngValue]="ville">{{ville}}</option>
        </select>
      </div>

      <div class="form-field">
        <label>Algorithme : </label>
        <select formControlName="algo">
          <option value="">Choisissez l'algorithme : </option>
          <option *ngFor="let algo of algos" [ngValue]="algo">{{algo}}</option>
        </select>
      </div>

      <button type="submit">Calculer</button>

    </form>

    <div class="result">
      <h2>Résultat</h2>
      <div><b>chemin :</b> {{result?.path}}</div>
      <div><b>temps : </b> {{result?.distance | myTime}}</div>
      <div><b>temps d'exécution : </b>{{result?.execution}} ms</div>
    </div>
  </div>
</div>
</body>
